<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/trainings/tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/crm-zendesk/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/crm-dotmailer/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/calendar-bundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/crm-call-bundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/crm-task-bundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/crm-hangouts-call-bundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform-serialised-fields/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/api-doc-bundle/Nelmio/ApiDocBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/doctrine-extensions/tests/Oro/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/crm/src/Oro/Bridge/CallCRM/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/crm/src/Oro/Bundle/CRMBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/crm/src/Oro/Bundle/CaseBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/crm/src/Oro/Bundle/SalesBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/crm/src/Oro/Bundle/AccountBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/crm/src/Oro/Bundle/ChannelBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/crm/src/Oro/Bundle/ContactBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/crm/src/Oro/Bundle/AnalyticsBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/crm/src/Oro/Bundle/ContactUsBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/crm/src/Oro/Bundle/ReportCRMBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/crm/src/Oro/Bundle/ActivityContactBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/crm/src/Oro/Bundle/TestFrameworkCRMBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/CMSBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/RFPBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/SEOBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/TaxBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/UPSBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/RuleBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/SaleBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/OrderBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/PayPalBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/CatalogBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/ConsentBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/PaymentBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/PricingBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/ProductBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/CheckoutBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/FallbackBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/RedirectBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/ShippingBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/InventoryBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/PromotionBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/MoneyOrderBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/ValidationBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/VisibilityBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/WebCatalogBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/ApplicationBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/CustomThemeBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/PaymentTermBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/ShoppingListBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/FedexShippingBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/WebsiteSearchBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/CommerceEntityBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/FlatRateShippingBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/FixedProductShippingBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/FrontendLocalizationBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Bundle/FrontendTestFrameworkBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Component/Tree/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce/src/Oro/Component/Expression/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/UIBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/ApiBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/SSOBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/TagBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/CronBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/FormBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/HelpBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/ImapBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/NoteBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/SoapBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/SyncBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/UserBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/AssetBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/BatchBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/CacheBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/ChartBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/DraftBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/EmailBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/ScopeBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/ThemeBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/ActionBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/ConfigBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/EntityBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/FilterBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/LayoutBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/LocaleBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/LoggerBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/ReportBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/SearchBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/AddressBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/CommentBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/SegmentBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/SidebarBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/WindowsBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/ActivityBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/CurrencyBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/DataGridBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/PlatformBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/ReminderBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/SecurityBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/WorkflowBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/DashboardBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/DataAuditBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/GaufretteBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/InstallerBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/MigrationBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/AttachmentBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/NavigationBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/EntityMergeBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/IntegrationBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/MaintenanceBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/RedisConfigBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/TranslationBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/ActivityListBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/DigitalAssetBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/DistributionBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/EmbeddedFormBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/EntityConfigBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/EntityExtendBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/ImportExportBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/MessageQueueBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/NotificationBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/OrganizationBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/FeatureToggleBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/QueryDesignerBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/TestFrameworkBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/BusinessEntitiesBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/EntityPaginationBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/GoogleIntegrationBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/WsseAuthenticationBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Bundle/MicrosoftIntegrationBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Component/Log/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Component/Action/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Component/Config/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Component/Layout/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Component/Routing/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Component/Testing/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Component/PhpUtils/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Component/Duplicator/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Component/MessageQueue/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Component/DoctrineUtils/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Component/ChainProcessor/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Component/ConfigExpression/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Component/EntitySerializer/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Component/ExpressionLanguage/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/platform/src/Oro/Component/DependencyInjection/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/marketing/src/Oro/Bundle/CampaignBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/marketing/src/Oro/Bundle/TrackingBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/marketing/src/Oro/Bundle/MarketingListBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/marketing/src/Oro/Bundle/MarketingActivityBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce-crm/src/Oro/Bridge/ContactUs/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce-crm/src/Oro/Bridge/QuoteSales/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce-crm/src/Oro/Bridge/CustomerSales/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce-crm/src/Oro/Bridge/CustomerAccount/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce-crm/src/Oro/Bridge/SaleActivityContact/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/commerce-crm/src/Oro/Bundle/DemoDataCommerceCRMBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/oauth2-server/src/Oro/Bundle/OAuth2ServerBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/cookie-consent/src/Oro/Bundle/CookieConsentBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/customer-portal/src/Oro/Bundle/WebsiteBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/customer-portal/src/Oro/Bundle/CustomerBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/customer-portal/src/Oro/Bundle/FrontendBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/customer-portal/src/Oro/Bundle/StyleBookBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/customer-portal/src/Oro/Bundle/CommerceMenuBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/customer-portal/src/Oro/Bundle/FrontendAttachmentBundle/Tests" />
        <option value="$PROJECT_DIR$/trainings/vendor/oro/customer-portal/src/Oro/Bundle/FrontendImportExportBundle/Tests" />
      </list>
    </option>
  </component>
</project>